.clients {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;            
    }

    &__container {
        @extend %container;
        max-width: 480px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            max-width: 768px;            
        }

        @media screen and (min-width: 1200px) {
            max-width: 1200px;            
        }
    }
    
    &__title {
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        color: $blackText;
        margin: 0px 0px 30px;

        @media screen and (min-width: 1200px) {
            margin: 0px 0px 50px;
            font-size: 36px;            
        }
    }
    
    &__list {
        @extend %list;
        @extend %flex-center;
        flex-wrap: wrap;
        margin: -15px;

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;            
        }
    }
    
    &__item {        
        margin: 15px;
        width: calc((100% - 60px) / 2);
        
        @media screen and (min-width: 768px) {
            width: calc((100% - 90px) / 3);                
        }
    }
    
    &__link {
        @extend %flex-center;
        padding: 16px 0;        
        border: 1px solid $svgGrey;
        border-radius: 4px;
        color: $svgGrey;
        transition: color 250ms $cubic,
        border 250ms $cubic;
    
        &:hover, &:focus {
            border: 1px solid $blue;
            color: $blue;
        }
    }
    
    &__icon {
        fill: currentColor;
    }
}

