.works {
    padding: 47px 0 94px;

    // 0-1199рх прячем
    @media screen and (max-width: 1199px) {
        display: none;
    }

    &__container {
        @extend %container;
        max-width: 1200px;
    }
    
    &__title {
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: $blackText;
        margin: 0px 0px 50px;
    }
    
    &__list {
        @extend %list;
        display: flex;
        justify-content: space-between;
    }
    
    &__item {
        position: relative;
    }
    
    &__img {
        display: block;
    }
    
    &__description {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        margin: 0;
    
        @extend %flex-center;
        
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    
        color: $whiteText;
        background-color: $ourWorksGrey;
    }
}

