%list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

%container {
    // min-width: 320px;
    margin: 0 auto;
    padding: 0px 15px;
}


%flex {
    display: flex;
    align-items: center;
}

%flex-center {
    @extend %flex;
    justify-content: center;    
}