$blackText: #212121;
$greyText: #757575;
$greyTextFooter: rgba(255, 255, 255, 0.6);
$greyIconFooter: rgba(255, 255, 255, 0.1);
$ourWorksGrey: rgba(47, 48, 58, 0.8);
$modalBackdrop: rgba(0, 0, 0, 0.2);
$darkGrey: #2F303A;
$whiteText: #FFFFFF;
$blue: #2196F3;
$borderHeader: #ECECEC;
$borderPortlofio: #EEEEEE;
$greyBcg: #F5F4FA;
$heroButtonShadow: rgba(0, 0, 0, 0.15);
$svgGrey: #AFB1B8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$portfolioOverlay: rgba(33, 150, 243, 0.9);